.cta_text_box {
  color: #002246;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #002246;
}

.cta_text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.have_account {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 4.8rem;
}

.cta_img_box {
  background-image: linear-gradient(
      to right bottom,
      hsla(211, 85%, 87%, 0.349),
      hsla(211, 85%, 78%, 0.342)
    ),
    url('../../images/cta-img-2.jpg');
  background-size: cover;
  background-position: center;
}

.cta_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  font-family: inherit;
  margin-bottom: 2.4rem;
}

.cta_form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta_form input,
.cta_form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fffcfb;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta_form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #fdf2e980;
}

.error {
  background-color: #f4dddd;
  color: #b71c1c;
}

/* Bellow 944px (Tablets) */
@media (max-width: 59em) {
  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta_form {
    grid-template-columns: 1fr;
  }

  .btn_form {
    margin-top: 1.2rem;
  }
}

/* Bellow 544px (Phone) */
@media (max-width: 34em) {
  .cta {
    grid-template-columns: 1fr;
  }

  .cta_text_box {
    padding: 3.2rem;
  }

  .cta_img_box {
    height: 32rem;
    grid-row: 1;
  }
}
