* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work on safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely 
    positioned in relation to body */
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*******************************/
/* GENERAL REUSEABLE COMPONENTS */
/*******************************/

/* .heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
} */

section {
  display: block;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #d31e3d;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.button,
.button:link,
.button:visited {
  display: inline-block;
  background-color: #0071eb;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 1.6rem;
  border-radius: 30px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;

  transition: all 0.3s;
}

.button:hover {
  background-color: #00448d;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
}
