.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  /* height: 60rem; */

  overflow: hidden;
  background-image: linear-gradient(
    to right bottom,
    hsla(211, 85%, 87%, 0.349),
    hsla(211, 85%, 78%, 0.342)
  );
}

.cta_img_box {
  background-image: linear-gradient(
      to right bottom,
      hsla(211, 85%, 87%, 0.349),
      hsla(211, 85%, 78%, 0.342)
    ),
    url('../../images/cta-img-2.jpg');
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #fdf2e980;
}

/* Bellow 944px (Tablets) */
@media (max-width: 59em) {
  .cta {
    grid-template-columns: 3fr 2fr;
  }
}

/* Bellow 544px (Phone) */
@media (max-width: 34em) {
  .cta {
    grid-template-columns: 1fr;
  }

  .cta_img_box {
    height: 32rem;
    grid-row: 1;
  }
}
