.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.form input {
  width: 70%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fffcfb;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.photo_upload {
  display: flex;
  align-items: center;
}
.form_user_img {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.form_upload {
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.form_upload + label {
  color: #0071eb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0071eb;
  padding: 0.3rem;
  transition: all 0.2s;
  cursor: pointer;
}

.form_upload + label:hover,
.form_upload + label:active {
  background-color: #0071eb;
  color: #fff;
}

.btn_form {
  text-align: right !important;
}
