.section-hero {
  /* background-color: #1a2b49; */
  padding: 0;
  display: block;
  /* max-width: 130rem; */
  margin-top: 4rem;
}

.hero {
  margin: 0 auto;
  /* border-bottom: 8px solid #d31e3d; */
  border-bottom: 8px solid #0071eb;
  height: 52rem;
  position: relative;
}

.hero-section-img-container {
  /* background-color: #0071eb; */
  /* background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url('../../public/hero-3.jpg'); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero-content {
  padding: 8rem;
  /* max-width: 120rem; */
}

.content-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 30%;

  transform: translate(-50%, -50%);
}

.hero-img {
  filter: brightness(50%);
  width: 100%;
  height: 52rem;
  object-fit: cover;
  /* border-bottom: 8px solid #d31e3d; */
}

.hero-section-content {
  /* padding: 6.4rem; */
  /* position: absolute;
    z-index: 1; */
}

.heading-primary {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.05;
  color: #fff;
  letter-spacing: -0.5px;
  box-shadow: rgba(0, 0, 0, 0.1);
  /* position: absolute; */
  /* top: 40%; */
  /* width: 65%; */
}

/* BELLOW 1344px (Smaller desktops) */

@media (max-width: 84rem) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

@media (max-width: 75rem) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
}

@media (max-width: 44em) {
  .hero {
    /* height: 320px; */
  }

  .hero {
    height: 32rem;
  }
  .hero-img {
    height: 32rem;
  }
}

@media (max-width: 34em) {
  .heading-primary {
    font-size: 3.6rem;
  }
}
