.testimonial_img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.ratings {
  font-size: 1.8rem;
}

.rating_icon {
  color: #d31e3d;
}

.testimonial_text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial_name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
